* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: lemon milk, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff8f7;
}

h2 {
    font-family: lemon milk, Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
}

p {
    font-family: brandon grotesque, Arial, Helvetica, sans-serif;
    margin: 7%;
    font-size: 14px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr; 
}

header h1 {
    grid-column: 1 / span 2;
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
    font-size: 40px;
}

.square1 {
    width: 11.72em;
    height: 11.72em;
    background: #87AFE8;
}

.square2 {
    width: 11.72em;
    height: 11.72em;
    background: #D13C3A;
}

.square3 {
    width: 11.72em;
    height: 11.72em;
    background: #F1BA3A;
}

header img {
    width: 11.72em;
    height: 11.72em;

}

main {
    min-height: 100vh;
    margin-bottom: -3.5em;
}

footer {
    background-color: #F1BA3A;
}

footer, .push {
    height: 3.5em;
}

nav ul{
    display: flex;
    align-content: space-between;
    list-style-type: none;
}