* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Lemon Milk';
    src: url(fonts/LEMONMILK-Bold.otf);
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url(fonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf);
}

h1 {
    font-family: 'Lemon Milk';
    color: #fff8f7;
}

h2 {
    font-family: 'Lemon Milk';
    margin: 5%;
}

p {
    font-family: 'Brandon Grotesque';
    margin: 5.5%;
    font-size: 14px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr; 
}

header h1 {
    grid-column: 1 / span 2;
    position: absolute;
    margin-top: 18%;
    margin-left: 5%;
    font-size: 40px;
}

header img {
    position: absolute;
    margin-top: 1em;
    margin-left: 15em;
    width: 7em;
    height: 7em;
}

.square1 {
    width: 23.44em;
    height: 11.72em;
    background: #87AFE8;
}

.square2 {
    width: 23.44em;
    height: 11.72em;
    background: #D13C3A;
}

.square3 {
    width: 23.44em;
    height: 11.72em;
    background: #F1BA3A;
}

main {
    min-height: 100vh;
    margin-bottom: -3.5em;
}

main ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

main img {
    width: 80%;
    margin-left: 6%;
    margin-right: 10%;
}

a.button {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    margin-left: 32%;
    margin-bottom: 0.5em;
    max-width: fit-content;
    background-color: #f2b33d;
    color: #000000;
    text-decoration: none;
    border: 0.5rem solid  #da8e00;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lemon Milk';
}

section a:hover {
    background-color: #982a2a;
    transition: 0.4s;
    transform: scale(1.05);
}

.intro p {
    margin-right: 7%;
    margin-bottom: -5%;
}

.intro img {
    width: 18%;
    position: relative;
    margin-top: -7%;
    margin-bottom: -7%;
    margin-left: 1%;
}

.donatie img:first-child {
    width: 20%;
    position: relative;
    margin-left: 70%;
    margin-bottom: -5%;
}

.catgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}

.catgallery li {
    height: 23vh;
    flex-grow: 1;
}

.catgallery li img {
    max-width: 23em;
    max-height: 10em;
    object-fit: cover;
}

footer {
    background-color: #F1BA3A;
}

footer, .push {
    height: 3.5em;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}